.container {
    margin: 5% auto;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6);
    padding: 100px;
    border-radius: 30px;
    font-family: sans-serif;
}

.title{
    margin-bottom: 5px;
}

.buttons {
    background-color: #64DA41;
    padding: 10px;
}

main { 
    color: white;
}

.scooter-name {
    display: inline-block;
}

.scooter > * {
    margin-bottom: 2px;
}

.scooter div {
    font-size: 14px;
}

header {
    color: #64DA41;
    text-align: center;
}

.logo {
    width: 200px;
}

/* stile base delle barre di ricarica */
.base-charge {
    border-radius: 5px;
    border: 0;
}

.charge-1 {
    background-color: orange;
    width: 300px;
}

.charge-2 {
    background-color: #64DA41;
    width: 500px;    
}

.charge-3 {
    background-color: red;
    width: 100px;
}

body {
    background-image: url(Immagini/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}